**/*.py[co]
**/__pycache__
.benchmarks
.bumpversion.cfg
.cache
.git
.gitignore
.gitmodules
.idea
.isort.cfg
.vscocde
.style.yapf
.venv
.tox
docs
docker-compose.yml
Jenkinsfile
LICENSE
Makefile
plug.egg.info
README.md
